<div class="container">
  <h1 style="text-align:center">Dynamic Form</h1>
  <h3>Job Application for Heroes</h3>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let question of questions" class="form-row">
      <app-dynamic-form-question [question]="question" [form]="form"></app-dynamic-form-question>
    </div>

    <div class="form-group">
      <button class="btn btn-success" type="submit" [disabled]="!form.valid">Save</button>
    </div>

  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>

  <div>
    <strong>texbox 1 value: {{form.get('firstName').value}}</strong><br>
    <strong>texbox 2 value: {{form.get('emailAddress').value}}</strong><br>
    <strong>dropdown value: {{form.get('brave').value}}</strong><br>
</div>